# 1. Write a program to reverse an array or string

In [ ]:
def reverse(s):
    return s[::-1]

In [ ]:
print(reverse("Sweta"))
arr = ["Sweta", 34, 89]
print(reverse(arr))

# 2. Maximum and minimum of an array using minimum number of comparisons

### Method 1

No. of comparisons = 2n

In [ ]:
def maxMin(a):
    max = a[0]
    min = a[0]
    for item in a:
        if item > max:
            max = item
        if item < min:
            min = item
    
    return max, min

In [ ]:
a = [45, 8, 90, 87, 56]
maxMin(a)

### Method 2
Pair comparison

In [ ]:
def getMinMax(a):
    n = len(a)

    # if n is even
    if n%2 ==0:
        mx = max(a[0], a[1])
        mn = min(a[0], a[1])
        i = 2
    else:
        mx = mn = a[0]
        i = 1
    
    while(i < n-1):
        if a[i] > a[i+1]:
            mx = max(mx, a[i])
            mn = min(mn, a[i+1])
        else:
            mx = max(mx, a[i+1])
            mn = min(mn, a[i])
        i += 2
    
    return mx, mn

In [ ]:
a = [45, 8, 92, 87, 56, 90, 1]
getMinMax(a)

#3. Find Kth smallest element in an array

**Method : QuickSelect Algorithm**

In [ ]:
def kthSmallest(arr, l, r, k):
    '''
    arr : given array
    l : starting index of the array i.e 0
    r : ending index of the array i.e size-1
    k : find kth smallest element and return using this function
    '''
    if (k > 0 and k <= r-l + 1):
        
        pos = partition(arr, l , r, k)
        print(pos)
        
        if pos == k-1:
            return arr[pos]
        if pos > k-1:
            return kthSmallest(arr, l, pos-1, k)
        return kthSmallest(arr, pos+1, r, k-pos+l)
    
def partition(arr, l, r, k):
    pivot = arr[r]
    i = l-1
    for j in range(l, r):
        if arr[j] <= pivot:
            i += 1
            arr[i], arr[j] = arr[j], arr[i]
    arr[i+1], arr[r] = arr[r], arr[i+1]
    
    return i+1

In [ ]:
arr = [7,10, 4, 3, 20, 15]
low = 0
high = len(arr)-1
k = 3
num = kthSmallest(arr, low, high, k)
print("{}th smallest number is {}".format(k, num))

arr

#4. Sort an array of 0s, 1s and 2s

The logic here is to count the number of 0s, 1s and 2s and then traverse the array again to replace the first count of 0s with 0, next with 1s and then 2s.

In [ ]:
def sort012(arr,n):
    # code here
    count_zero = 0
    count_one = 0
    count_two = 0
    for num in arr:
        if num == 0:
            count_zero += 1
        if num == 1:
            count_one += 1
        if num == 2:
            count_two += 1
    
    for i in range(count_zero):
        arr[i] = 0
    for i in range(count_zero, count_zero+count_one):
        arr[i] = 1
    for i in range(count_zero+count_one, count_zero+count_one+count_two):
        arr[i] = 2

# driver code
arr = [0, 1, 1, 0, 1, 2, 1, 2, 0, 0, 0, 1] 
n = len(arr) 

print("**** Unsorted Array ****")
print(arr)
sort012(arr, n) 
print("**** Sorted Array ****")
print(arr)

#5. Move all negative numbers to beginning and positive to end with no extra space

In [ ]:
def rearrange(arr, n):
    l = 0
    h = n-1
    
    while (l < h):
        while (arr[l] < 0):
            l += 1
        while (arr[h] > 0):
            h -= 1
        arr[l], arr[h] = arr[h], arr[l]
        l += 1
        h -= 1
    
arr = [-1, 2, -3, 4, 5, 6, -7, 8, 9]
n = len(arr)
rearrange(arr, n)  
print(arr)

#6. Union of two unsorted arrays
## Given two arrays A and B of size N and M respectively. The task is to find union between these two arrays.

### Method 1

In [ ]:
def doUnion(a,n,b,m):
    union = []
    set_a = list(set(a))
    b = list(set(b))
    print(set_a)
    union.extend(set_a)
    print(union)
    for item in b:
        if item not in set_a:
            union.append(item)
    print(union)
    return len(union), union

a = [7, 6, 5, 8, 1, 2]
b = [1, 3, 2, 4, 1, 0, 2, 3, 0, 1]
n = 5
m = 3 
print(doUnion(a,n,b,m))

### Method 2

In [ ]:
def doUnion(a, b):
    union = set()
    for n in a:
        union.add(n)
    for n in b:
        union.add(n)
    
    return union, len(union)

a = [7, 6, 5, 8, 1, 2]
b = [1, 3, 2, 4, 1, 0, 2, 3, 0, 1]

print(doUnion(a, b))

# 7. Union of two sorted arrays

In [ ]:
def unionSortedArray(a, b):
    p1 = 0
    p2 = 0
    union = []
    i = 0
    if a[p1] < b[p2]:
        union.append(a[p1])
        p1 += 1
    else:
        union = [b[p2]]
        p2 += 1
    
    while (p1 < len(a) and p2 < len(b)):
        if (a[p1] < b[p2] and union[i] != a[p1]):
            union.append(a[p1])
            p1 += 1
            i += 1
        elif (a[p1] > b[p2] and union[i] != b[p2]):
            union.append(b[p2])
            p2 += 1
            i += 1
        elif (a[p1] == b[p2] and union[i] != a[p1]):
            union.append(a[p1])
            p1 += 1
            p2 += 1
            i += 1
    
    if (p1>= len(a)):
        if union[i] != b[p2]:
            union.append(b[p2])
    elif (p2 >= len(b)):
        if union[i] != a[p1]:
            union.append(a[p1])
    
    return union

arr1 = [1, 2, 4, 5, 6] 
arr2 = [2, 3, 5, 7] 
print(unionSortedArray(arr1,arr2))

# 8. Cyclically rotate an array by one

In [ ]:
def rotate( arr, n):
    last_elem = arr[n-1]
    for i in range(n-1, 0, -1):
        arr[i] = arr[i-1]
    arr[0] = last_elem
    
    return arr

arr = [1, 2, 3, 4, 5]
rotate(arr, 5)
print(*arr)

# 9. Given an array arr of N integers. Find the contiguous sub-array with maximum sum.

## kadane's Algorithm

### Method 1 - doesn't handle all negative numbers

In [ ]:
def maxSubArraySum(a,size):
    ##Your code here
    maxSum = 0
    subSum = 0
    for item in a:
        subSum += item
        if subSum > 0:
            maxSum = max(subSum, maxSum)
        if subSum<0:
            subSum = 0
    
    return maxSum
        
a = [-1,5,-3,90]
maxSubArraySum(a, 4)

### Method 2 - handles all negative numbers

In [ ]:
def maxSubArraySum(a,size):
    ##Your code here
    maxSum = a[0]
    subSum = a[0]
    for i in range(1, size):
        subSum = max(a[i], subSum+a[i])
        maxSum = max(maxSum, subSum)
    
    return maxSum

a = [-1,-5,-3,-90]
maxSubArraySum(a, 4)

## 10. Given an array arr[] denoting heights of N towers and a positive integer K, you have to modify the height of each tower either by increasing or decreasing them by K only once. After modifying, height should be a non-negative integer. Find out what could be the possible minimum difference of the height of shortest and longest towers after you have modified each tower.

# 11. Minimum number of bribes

It is New Year's Day and people are in line for the Wonderland rollercoaster ride. Each person wears a sticker indicating their initial position in the queue from 1 to n

. Any person can bribe the person directly in front of them to swap positions, but they still wear their original sticker. One person can bribe at most two others.

Determine the minimum number of bribes that took place to get to a given queue order. Print the number of bribes, or, if anyone has bribed more than two people, print Too chaotic.

In [ ]:
def minimumBribes(q):
    bribe = 0
    q = [P-1 for P in q]
    print(q)
    for i,P in enumerate(q):
        print(i,P)
        if P-i > 2:
            print("inside if")
            print("Too chaotic")
            return
        else:
            print("Inside else")
            for j in range(max(P-1,0), i):
                if q[j] > P:
                    print(bribe)
                    bribe += 1
            
    print(bribe)
    return
minimumBribes([2, 1, 5, 3, 4])

# 12. Minimum number of Swaps
You are given an unordered array consisting of consecutive integers

[1, 2, 3, ..., n] without any duplicates. You are allowed to swap any two elements. You need to find the minimum number of swaps required to sort the array in ascending order.

In [ ]:
def minimumSwaps(arr):
    arr = [n-1 for n in arr]
    count = 0
    i = 0
    while(i<len(arr)):
        num = arr[i]
        if(arr[i] != i):
            count += 1
            arr[i], arr[num] = arr[num], arr[i]
        else:
            i += 1
            
    return count

In [ ]:
if ((False and True ) or (True)):
    print("U")

# 13. Array Manipulation
Starting with a 1-indexed array of zeros and a list of operations, for each operation add a value to each the array element between two given indices, inclusive. Once all operations have been performed, return the maximum value in the array.

![Screenshot 2021-02-05 200415.png]()

In [ ]:
from collections import Counter
def arrayManipulation(n, queries):
    #arr = [0] * (n+5)
    arr = Counter()
    arrSum = 0
    maxSum = 0
    for a, b, k in queries:
        print(a,b,k)
        arr[a] += k
        arr[b+1] -= k
    print(sorted(arr)[:-1])
    #arr = sorted(arr, reverse=True)
    for i in sorted(arr):
        arrSum += arr[i]
        maxSum = max(maxSum, arrSum)
    return maxSum
        

#queries = [[1, 5, 3], [4, 8, 7], [6, 9, 1]]
queries = [[2, 6, 8],[3, 5, 7], [1, 8, 1], [5, 9, 15]]
arrayManipulation(10, queries)

# 14. Merge two arrays
Given two sorted arrays arr1[] of size N and arr2[] of size M. Each array is sorted in non-decreasing order. Merge the two arrays into one sorted array in non-decreasing order without using any extra space.

In [34]:
class Solution:
    def merge(self, arr1, arr2, n, m): 
        # code here
        arr1.extend(arr2)
        arr1.sort()
        for k in range(m):
            arr2[k] = arr1[n+k]
            
        del arr1[n:]

# 15. Find Duplicate number
Given an array of integers nums containing n + 1 integers where each integer is in the range [1, n] inclusive.

There is only one repeated number in nums, return this repeated number.

In [36]:
class Solution:
    def findDuplicate(self, nums: List[int]) -> int:
        n = len(nums)
        counter = [0] * n
        for num in nums:
            counter[num-1] += 1
        
        for j in range(len(counter)):
            if counter[j]> 1:
                return j+1

6

# 16. Merge intervals

In [ ]:
class Solution:
    def merge(self, intervals: List[List[int]]) -> List[List[int]]:
        intervals.sort()
        new_intervals = []
        i =0
        
        count = len(intervals)
        while True:
            if len(intervals) == 1:
                return intervals
            if intervals[i][1] >= intervals[i+1][0]:
                if intervals[i][1] >= intervals[i+1][1]:
                    intervals[i] = [intervals[i][0], intervals[i][1]]
                    del intervals[i+1]
                else:
                    intervals[i] = [intervals[i][0], intervals[i+1][1]]
                    del intervals[i+1]
                
            i+=1
            if i >= len(intervals)-1:
                count -= 1
                i = 0
                if count == 0:
                    break
        
        return intervals

# 17. Buy and sell stock
You are given an array prices where prices[i] is the price of a given stock on the ith day.

You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

In [ ]:
class Solution:
    def maxProfit(self, prices: List[int]) -> int:
        min_price = float('inf')
        max_profit = 0
        
        for price in prices:
            min_price = min(min_price, price)
            profit = price - min_price
            max_profit = max(max_profit, profit)
        return max_profit